dist/*
build/*
node_modules/*
src/assets
src/**/*.css
src/stories
.eslintrc.cjs
.stylelintrc.cjs
babel.config.cjs
setupTests.ts
vite.config.ts
postcss.config.cjs
commitlint.config.cjs
tsconfig.json
**/*.css
**/*.scss
**/*.less
**/*.module.css
**/*.module.scss
**/*.module.less
__unconfig_vite.config.ts
