dist/*
build/*
mocker/*
scripts/*
node_modules/*
readme
mocks
__mocks__
__tests__
src/assets
src/**/*.css
.eslintrc.js
babel.config.js
.cz-config.js
commitlint.config.js
setupTests.ts
vite.config.ts
postcss.config.js
